*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.container{
    background-color: #F7F7F7;
    height: 1200px;
    max-width: 1440px;
    margin: auto;
  
}
.header{
    background-color: white;

    padding: 13px 137px;
    
}
.logo{
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
}
.container-body{
    max-width: 1100px;
    margin: auto;
    padding-top: 20px;
    height: 200px;

}
.link{
    text-align:end ;
    color: #00A5EC;


}
.add-task{
   text-decoration: none;
   color: black;
   font-size: large;
   font-weight: 500;
   display: flex;
   align-items: center;
   justify-content: end;
}
.fa-plus-circle{
    color: #00A5EC;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    
}

.card{
    width: 345px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #EDEDED;
}
.card:hover{
    box-shadow: 6px 6px 10px 10px  lightgrey;
}
.card1{
    margin-right: 30px;
}
.card2{
    margin-right: 30px;
}
.card4{
    margin-right: 30px;
    margin-top: 30px;
}
.card5{
    margin-right: 30px;
    margin-top: 30px;
}
.card-header{
    padding: 20px;
}
.card-head{
    color: #00A5EC;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;

}
hr{
    border:1px solid #EDEDED;
    margin-bottom: 30px;
}
.box{
    display: flex;
    align-items: center;
    
}
input[type=checkbox]{
    margin-left: 40px;
    width: 30px;
    height: 30px;
    /* accent-color: #c2c2c2; */
    
}
input[type=checkbox]:hover{
    color: #C2C2C2;
    background-color: #C2C2C2;
}
label{
    color: #424242;
}

input:checked + label{
    color: #C2C2C2;
    text-decoration:  line-through;
}
@media (min-width:350px) and (max-width: 420px){
    .add-task{
        justify-content: center;
    }
    .header{
        padding: 13px;
    }
    .card{
        margin-top: 20px;
        margin-left: 38px;
    }
    .new{
        display: none;
    }

}